@import  "../../styles/globals";
@import "../../styles/vars.css";

$font-size-small: 0.8rem;

.orderCardContainer{
    max-width: 350px;
    border-radius: 5px;
    display:inline-block;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    
}

.orderCardContainerNotComplete{
    background-color: white;
}
.orderCardContainerComplete{
    background-color: var(--color-green);
}
.cardHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0px 10px 0px 10px;
    gap:5px;
    border-radius: 5px 5px 0 0;
}
.editIcon{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.headerDetails{
    display:flex;
    align-items: center;
    gap:10px;
    padding:0 10px 5px 10px;
    border-bottom: 1px solid grey
    
}

.cardHeader, .headerDetails{
    background-color: var(--color-primary-light);
    color:white;
}



.pickupTime{   
    font-size: 1.2rem;
    font-weight: bold;
}



.textBadgeRed{
    @include textChip(var(--color-error-main),white);
    font-size: $font-size-small;
}

.textBadgeYellow{
    @include textChip(var(--color-secondary-main),black);
    font-size: $font-size-small;
}
