.iconBtnStyle{

    &:hover{
        background-color:var(--mui-palette-error-main);
        svg{
            color:var(--mui-palette-background-default);
        }
    }
    svg{
        color:var(--color-primary-dark);
        transition:0.3s;
    }

}

.orderItemContainer{
    display:grid;
    grid-template-areas: 'product delete'
                         'note    delete';
    gap:var(--gap-small);
    .product{
        grid-area:product;
        display:grid;
        gap:var(--gap-small);
        grid-template-columns: 4fr 1fr 1fr auto auto;
    }
    .note{
        grid-area:note;
        width:90%;
        justify-self: end;
    }
    .delete{
        grid-area:delete;
        display:flex;
        justify-content:flex-end;
        align-items:center;
    }
    span.checkBox{
        &:global(.Mui-checked){
            background-color:var(--mui-palette-primary-main);
            color:white;
            transition:0.3s;
        }
    }
   
}
.checkBox{
    height: 3rem;
    width: 3rem;
    align-self: start;
    transition:0.3s;
}


