@value orderPadding: 2mm;
@value formWidth: 135mm;


@media print{
  body{
    background-color: white;
    
  }
  .pageView{
    justify-content: space-between !important;
    height: 100vh;
    gap:0;
    padding-top:0px !important;
  }
  .orderDivider{
    display:block !important;
    border-left: 1px solid black ;
  }
  .printBtnContainer{
    display:none !important;
  }
 
}

.pageView{
  padding-top:30px;
  display:flex;
  flex-direction: row;
  justify-content: center;  
  gap:20px;
}

.orderDivider{
  display: none;
}
.container {
  font-size:0.8rem;
  width: formWidth;
  min-height: 190mm;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.header {
  box-sizing: border-box;
  border-bottom: 1px solid black;
  padding-left: orderPadding;
}
.details {
  display: flex;
  justify-content: center;
}
.details > div {
  box-sizing: border-box;
  border-right: 1px solid black;
  
}
.orderDate{
    color:white;
    background-color: black;
    flex-grow:1;
    display:flex;
    padding-left:orderPadding;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.details > div:first-child {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .details > div:last-child {
  border: none;
  padding-right:orderPadding;
  padding-left:orderPadding;
  flex-grow: 1;
}
.orderNumber{
    padding-left: orderPadding;
}

.productList {
  width: formWidth;
  box-sizing: border-box;
  border-top: 1px black solid;
  flex-grow: 1;
}
.productRow {
  
  display: flex;
  border-bottom: 1px dashed grey;
}
.productContainer {
  display: inline-block;
  width: 8cm;
  padding-left: orderPadding;
  overflow-y: hidden;
}
.productUnitPrice{
  display: inline-block;
  vertical-align: top;
  padding-left: orderPadding;
  flex: 1;
}
.productCount {
  display: inline-block;
  vertical-align: top;
  padding-left: orderPadding;
  flex:1;
}
.productPrice {
  display: inline-block;
  text-align: right;
  
  padding-right: orderPadding;
  vertical-align: top;
  flex:1;
}

.productDescription {
  padding-left: 5mm;
}

.bigText {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer {
  box-sizing: border-box;
  border-top: 1px solid black;
  height: 1cm;
  display: flex;
  align-items: center;
}
.footerRow {
  display: flex;
  width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
}
.footerInfo {
  padding-left: orderPadding;
}
.footerTotal {
  flex-grow: 1;
  text-align: right;
  padding-right: orderPadding;
}
.printBtnContainer{
  display:flex;
  justify-content: center;
  margin-top: 20px;
}
