@import "../../styles/vars.css";

.navBarContainer {
  background-color: var(--color-primary-dark-grey);
  height: 6vh;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
  justify-content: start;
  color:white;
  a{
    height:100%;
    img{
      height:100%;
      padding:0.25rem;
    }
  }

}


.navBarContainer .button:hover {
  background-color: #fd826c;
}

.logControls{
  margin-left:auto;
  padding-right:1rem;
  span{
    margin-right:var(--gap-medium)
  }
}

.navBarContainer.buttonNew,
.navBarContainer.buttonMain {
  font-weight: bold;
  font-size: 1rem;
  background-color: #fd826c;
}
