.buttonContainer{
    background-color: white;
    padding:5px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.orderFormLightBox{
    top:0;
    left:0;
    position:fixed;
    width:100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
}