section {
    background-color: tomato;
    padding:10px;
    height: 100vh;
    display: inline-block;
    margin-left: 10px;

}

.orderList{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.date{
    font-size: 2rem;
    font-weight: bold;
}
header{
    font-size:1.5rem;
}