section {
    
    padding:10px;
    
    display: inline-block;
    margin-left: 10px;

}

.orderList{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.date{
    font-size: 2rem;
    font-weight: bold;
    color:black;
}
header{
    font-size:1.5rem;
    color:white;
}
.monthYear{
    color: black;
}