@import "../styles/vars.css";

.itemHeader {
  display: flex;
  align-items: center;
}

dl {
  margin: 0px;
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
}

.itemName {
  font-size: 1.1rem;
  flex-grow: 2;
}

dl.completed {
  background-color: var(--color-green);
}

dl.inProgress {
  background-color: var(--color-yellow);
}

dl.completed,
dl.inProgress {
  border-bottom: 1px solid var(--color-blueGrey)
}

.itemDetailsBadge{
  background-color: var(--color-primary-main-lighter);
  color:white;
  margin-right:4px;
  border-radius: 4px;
  padding:0 4px;
}

.itemDetails{
  margin:4px 0;
}

dd{
  margin-inline-start: 20px;
}
