@import "../styles/vars.css";

.orderCardContainer{
    max-width: 350px;
    min-width: 330px;
    border-radius: 5px;
    display:inline-block;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    
}

.orderCardContainerNotComplete{
    background-color: white;
}
.orderCardContainerComplete{
    background-color: var(--color-green);
}
.cardHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px 10px 0px 10px;
    
    border-radius: 5px 5px 0 0;
}
.editIcon{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.headerDetails{
    display:flex;
    align-items: center;
    gap:10px;
    padding:0 10px 5px 10px;
    border-bottom: 1px solid grey
    
}

.cardHeader, .headerDetails{
    background-color: var(--color-primary-light);
    color:white;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
    margin:0;
}

.pickupTime{
    margin-right:30px;
    font-size: 1.2rem;
    font-weight: bold;
}

.textBadge{
    border-radius: 5px;
    padding:5px;
    font-weight: bold;
}

.textBadgeRed{
    background-color:var(--color-error-main);
    color:white;
}

.textBadgeYellow{
    background-color: rgb(255, 200, 0);
    color:black;
}
