.priceListContainer{
    width:18cm;
    margin-left: 20px;
}

@media print{
    .priceListMenu{
        display:none!important
    }
    .companyLabel{
        display: block!important;
    }  
}
.companyLabel{
    display: none;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}